.letterBox {
    width: 100px;
    height: 100px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

input[type="text"] {
    border:0;
    outline:0;
    text-align: center;
    box-shadow: none;
    background: transparent;
    font-size: 75px;
}

.inputWidthMax {
    width: 100px;
}

input:focus {
    outline:none!important;
}
