.boardRowContainer {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* gap: 1rem;
    grid-auto-flow: column;
    width: 200px;
    height: 200px; */
}
