.rulesTitle {
    vertical-align:middle;
    text-align: center;
    margin-top: 20px;
}

.rulesContainer {
    vertical-align:middle;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}